.navbar {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  align-items: center;
  padding: 0 5%;
  justify-content: space-between;
}

.button {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 4px 10px;
}
